[mysqld]
# 문자셋 및 정렬 방식 설정
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

# SQL 모드
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION